body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 10px;
    left: 10px;
    z-index: 1001;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	
}

.legend-color {
    width: 10px;
    height: 10px;
    display: inline-block;
}

#scene-description {
    max-width: 300px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1002;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) { 
    #scene-description {
        max-width: unset;
        margin: 10px;
        left: 0px;
        right: 0px;
        bottom: 55px;
        top: unset;
    }
 }

.scene-button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 15px;
}

.back-scene-button {
    left: 10px;
    height: 40px;
}

.next-scene-button {
    right: 10px;
    height: 40px;
}

#progress-bar {
    position: absolute;
    width: 100%;
    z-index: 1000;
    bottom: 0px;
}