body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 10px;
    left: 10px;
    z-index: 1001;
    background-color: #4364FB;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	
}

.legend-color {
    width: 10px;
    height: 10px;
    display: inline-block;
}

#scene-description {
    max-width: 300px;
    position: absolute;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1002;
    color: white;
    background-color: #4364FB;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#scene-description.start {
    right: 30%;
    bottom: 50%;
    min-width: 39%;
}

#scene-description.after-start {
    top: 60px;
}


.scene-button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1000;
    background-color: #4364FB;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    bottom: 15px;
    height: 40px;
}

.scene-button:hover {
    background-color: #0a51bc;
}

.back-scene-button {
    left: 10px;
    display: none;
}

.next-scene-button {
    right: 10px;
    display: none;
    height: 60px;
    right: 35vw;
    width: 30vw;
}

.start-scene-button {
    left: 30%;
    right: 30%;
    bottom: 40%;
}

@media (max-width: 576px) { 
    #scene-description {
        max-width: unset;
        margin: 10px;
        left: 0px;
        right: 0px;
        bottom: 55px;
        top: unset;
    }

    #scene-description.start {
        min-width: unset;
        left: 0px;
        right: 0px;
        bottom: 50%;
    }

    #scene-description.after-start {
        min-width: unset;
        left: 0px;
        right: 0px;
        top: unset;
        bottom: 60px;
    }

    #info-web {
        display: none;
    }

    .next-scene-button {
        height: 40px;
        right: 10px;
        width: unset;
    }
}

.scale-in {
    transition: scale 1s;
    scale: 1;
    @starting-style {
        scale: 0.3;
    }
}

.wrapper {
    z-index: 1000;
    bottom: 3px;
    position: absolute;
    width: 98.5vw;
    left: 0.5vw;
    height: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 7px;
    background-color: #0a51bc;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}

#audio-toggle {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    z-index: 1000;
    height: 20px;
    background-color:  #4364FB;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-web {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    bottom: 20px;
    background-color: #4364FB;
    color: white;
    height: 40px;
    left: 35vw;
    width: 30vw;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 1s;
}

.appear {
    opacity: 1;
}